@charset "UTF-8";
.wrapper {
  margin: 0 auto;
  max-width: 1190px;
  padding: 0px 15px;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.button {
  max-width: 315px;
  padding: 14px 0px;
  border: 2px solid #f37321;
  border-radius: 33px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f37321;
  text-align: center;
  cursor: pointer;
}

.main-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 47px;
}

@media (max-width: 480px) {
  .main-subtitle {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
}

.theame {
  background-color: #f6f6f6;
}

.header__main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 13px 0px 20px 0px;
}

@media (max-width: 780px) {
  .header__main-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.logo__img {
  width: 100%;
  margin-right: 76px;
}

.main-nav__logo {
  max-width: 128px;
}

@media (max-width: 780px) {
  .main-nav__logo {
    margin-right: auto;
  }
}

.main-nav__search-form {
  max-width: 620px;
  margin-right: auto;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  margin-left: 75px;
}

@media (max-width: 480px) {
  .main-nav__search-form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 15px;
    margin-left: 0px;
  }
}

@media (max-width: 780px) {
  .main-nav__search-form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 15px;
    margin-left: 0px;
    max-width: 820px;
  }
}

.main-nav__login {
  max-width: 99px;
  min-height: 49px;
  background: #ebebeb;
  border-radius: 50px;
  text-decoration: none;
  padding: 12px 29px;
  margin-left: 40px;
}

@media (max-width: 480px) {
  .main-nav__login {
    margin-left: 40px;
  }
}

.main-nav__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 49px;
  height: 49px;
  background-color: #f47322;
  border-radius: 50%;
  position: relative;
  margin-left: 31px;
}

@media (max-width: 480px) {
  .main-nav__basket {
    margin-left: 15px;
  }
}

.search-form__input {
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  border: none;
  width: 100%;
  padding: 13px 21px;
}

.search-form__botton {
  position: absolute;
  right: 18px;
  bottom: 14px;
}

.login__link {
  text-decoration: none;
  color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.basket__counter {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: #ffaf19;
  border-radius: 50%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 9px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slidebar__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/Rectangle 1.png");
  min-height: 399px;
  border-radius: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-position: right;
}

@media (max-width: 480px) {
  .slidebar__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 399 px;
    border-radius: 20 px;
    -ms-flex-wrap: wrap;
    background-position: right;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.slidebar__item {
  max-width: 388px;
  margin: 76px 0px 0px 104px;
}

@media (max-width: 480px) {
  .slidebar__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 282 px;
    margin: 76 px 0 px 0 px 0 px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 53px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.slidebar__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 51px;
  color: #ffffff;
  margin-bottom: 15px;
}

@media (max-width: 480px) {
  .slidebar__title {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 51px;
    color: #ffffff;
    margin-bottom: 15px;
  }
}

.slidebar__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 32px;
}

@media (max-width: 480px) {
  .slidebar__description {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 32 px;
  }
}

.slidebar__button {
  background: #f47322;
  color: white;
  max-width: 245px;
}

@media (max-width: 480px) {
  .slidebar__button {
    width: 100%;
  }
}

.slidebar__button-link {
  color: white;
  text-decoration: none;
}

.cards-offers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 113px;
}

@media (max-width: 480px) {
  .cards-offers__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 780px) {
  .cards-offers__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card-offers:nth-of-type(2) {
  margin-left: 54px;
  background-image: url("../img/Cards2.png");
  background-position: right;
}

@media (max-width: 780px) {
  .card-offers:nth-of-type(2) {
    margin-left: 0px;
    margin-top: 15px;
  }
}

@media (max-width: 480px) {
  .card-offers:nth-of-type(2) {
    margin-left: 0px;
    margin-top: 15px;
  }
}

.card-offers {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  background-image: url("../img/Cards1.png");
  width: 100%;
  min-height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-offers__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 232px;
  margin: 32px 0px 25px 36px;
}

.card-offers__button {
  background: #ffffff;
  border-radius: 50px;
  max-width: 232px;
  border: none;
}

.card-offers__button-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #5f5f61;
  text-decoration: none;
}

.item-info__subtitle {
  margin-bottom: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  color: #ffffff;
}

.item-info__discription {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  /* or 144% */
  color: #ffffff;
  margin-bottom: auto;
}

.item-info__current-price {
  margin-bottom: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  color: #ffffff;
}

.item-info__delivery-price {
  margin-bottom: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
}

.delivery {
  margin-bottom: 100px;
}

.delivery__delivery-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.delivery-cards__card:nth-of-type(1) .card__name-card {
  background: #d0fd89;
}

.delivery-cards__card:nth-of-type(1) .card__name-card a {
  color: #49494f;
  text-transform: uppercase;
}

.delivery-cards__card:nth-of-type(2) .card__name-card {
  background: #aebc41;
}

.delivery-cards__card:nth-of-type(2) .card__name-card a {
  color: white;
}

.delivery-cards__card:nth-of-type(3) .card__name-card {
  background: #b86b78;
}

.delivery-cards__card:nth-of-type(3) .card__name-card a {
  color: white;
}

.delivery-cards__card:nth-of-type(4) .card__name-card {
  background: #d68334;
}

.delivery-cards__card:nth-of-type(4) .card__name-card a {
  color: white;
}

.delivery-cards__card:nth-of-type(5) .card__name-card {
  background: #cd6255;
}

.delivery-cards__card:nth-of-type(5) .card__name-card a {
  color: white;
}

.delivery-cards__card:nth-of-type(6) .card__name-card {
  background: #fffdbf;
}

.delivery-cards__card:nth-of-type(6) .card__name-card a {
  color: #49494f;
}

.delivery-cards__card:nth-of-type(7) .card__name-card {
  background: #f6fdc8;
}

.delivery-cards__card:nth-of-type(7) .card__name-card a {
  color: #49494f;
}

.delivery-cards__card:nth-of-type(8) .card__name-card {
  background: #fef7fe;
}

.delivery-cards__card:nth-of-type(8) .card__name-card a {
  color: #49494f;
}

.delivery-cards__card {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
}

.card__img {
  width: 100%;
  height: 100%;
}

.card__name-card {
  padding: 6px 10px 0px 10px;
  max-width: 147px;
  min-height: 33px;
  border-radius: 30px;
  position: absolute;
  left: 21px;
  top: 17px;
}

.card__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
}

.food-categories {
  margin-bottom: 100px;
}

.food-categories__nav {
  margin-bottom: 62px;
  max-width: 461px;
}

.food-categories__food-categories-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  margin-bottom: 62px;
}

.food-categories__main-subtitle {
  margin-top: 40px;
  display: inline-block;
}

.food-categories__button {
  margin-bottom: 60px;
  display: inline-block;
  width: 100%;
}

.food-categories-nav__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 480px) {
  .food-categories-nav__lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

.food-categories-nav__list-item--active {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #f37321;
}

.food-categories-nav__list-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #49494f;
  cursor: pointer;
}

.food-categories-cards__food-categories-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  max-width: 270px;
  min-height: 471px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.food-categories-card__info {
  margin: 21px 27px auto 23px;
  max-width: 220px;
}

.food-categories-card__price {
  margin: 0px 0px 23px 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.food-categories-card__button {
  width: 125px;
  position: absolute;
  right: 24px;
  bottom: 21px;
}

.info__title {
  margin-bottom: 13px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.info__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #b9b9be;
}

.price-current {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4b4b51;
}

.price-weigt {
  margin-top: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #aaaab1;
}

.button__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f37321;
  text-decoration: none;
}

.benefits {
  margin-bottom: 202px;
}

.benefits__benefits-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.benefits-item__benefits-card {
  max-width: 270px;
  padding: 30px 24px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}

.benefits-card__img {
  display: block;
  max-width: 60px;
  margin: auto;
  min-height: 59px;
}

.benefits-card__info {
  margin-top: 36px;
}

.benefits-card__info-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 13px;
  display: inline-block;
}

.benefits-card__info-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #49494f;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0px;
}

@media (max-width: 480px) {
  .footer__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

.footer__contacts {
  margin-right: auto;
  max-width: 305px;
  width: 100%;
  margin-left: 30px;
}

@media (max-width: 480px) {
  .footer__contacts {
    margin: 0px;
  }
}

.logo__img {
  width: 205px;
}

@media (max-width: 480px) {
  .logo__img {
    margin: 0px;
    width: 150px;
  }
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-item__social {
  max-width: 124px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
}

@media (max-width: 480px) {
  .footer-item__social {
    margin: 0px;
  }
}

.list__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: black;
}
/*# sourceMappingURL=style.css.map */