.wrapper {
  margin: 0 auto;
  max-width: 1190px;
  padding: 0px 15px;
}
@mixin breakpoint($point) {
  @if $point == lm {
    @media (max-width: 780px) {
      @content;
    }
  } @else if $point == sm {
    @media (max-width: 520px) {
      @content;
    }
  }
}
